{% extends "base.html"%}

{% block head %} 

{% endblock %}

{% block body %} 

<div class="container">
    <header>
        <h1 id="title">At what age will you die?</h1>
        <p id="description">This survey will tell you when you're gonna die.</p>
    </header>

    <main>
        <form id="survey-form" action='/' method="POST">
            <!-- "chew", "smoke", "alcohol","treatment_source", "marital_status", "injury_treatment_type","illness_type","symptoms_pertaining_illness","sought_medical_care","diagnosed_for","regular_treatment_source",
"iscoveredbyhealthscheme" -->
        <fieldset>
            <label id="name-label">Enter your name: 
                <input id="name" type="text" placeholder="" name="name" required />
            </label>
            <label>Select your sex:
                <select id="dropdown" name="sex">
                    <option>(Select one)</option>
                    <option>Female (0)</option>
                    <option>Male (1)</option>
                </select>
            </label>
            <label>Select your highest qualification:
                <select id="dropdown" name="highest_qualification">
                    <option>(Select one)</option>
                    <option>Illiterate (0)</option>
                    <option>Literate With formal education-Below primary (1)</option>
                    <option>Literate With formal education-Hr. Secondary/Sr. Secondary/Pre-university (Class XII) (2)</option>
                    <option>Literate With formal education-Middle (3)</option>
                    <option>Literate With formal education-Non-technical/Technical diploma or certificate not equivalent to a degree (4)</option>
                    <option>Literate With formal education-Post Grad/ M.Tech/M.B.A/ MD/Equivalent or higher (5)</option>
                    <option>Literate With formal education-Primary (6)</option>
                    <option>Literate With formal education-Secondary/Matric (Class-X) (7)</option>
                    <option>Literate Without formal education (8)</option>
                    <option>Literate with formal education-Graduate/B.Tech/B.B.A/MBBS/Equivalent (9)</option>
                </select>
            </label>
            <label>Are you from rural area:
                <select id="dropdown" name="rural">
                    <option>(Select one)</option>
                    <option>Yes (0)</option>
                    <option>No (1)</option>
                </select>
            </label>
            <label>How are you disabled:
                <select id="dropdown" name="disability_status">
                    <option>(Select one)</option>
                    <option>Hearing (0)</option>
                    <option>Locomotor (1)</option>
                    <option>Mental (2)</option>
                    <option>Multiple (3)</option>
                    <option>No Disability (4)</option>
                    <option>Speech (5)</option>
                    <option>Visual (6)</option>
                </select>
            </label>
            <label>Do you drink filtered water:
                <select id="dropdown" name="is_water_filter">
                    <option>(Select one)</option>
                    <option>No (0)</option>
                    <option>Yes (1)</option>
                </select>
            </label>
            <!-- TODO "regular_treatment_source",
            "iscoveredbyhealthscheme" -->
            <label>Do you chew tobacco:
                <select id="dropdown" name="chew">
                    <option>(Select one)</option>
                    <option>Ex - Chewer (0)</option>
                    <option>Gutka/Pan masala with tobacco (1)</option>
                    <option>Gutka/Pan masala without tobacco (2)</option>
                    <option>Never chewed(3)</option>
                    <option>Pan with tobacco (4)</option>
                    <option>Pan without tobacco(5)</option>
                    <option>Tobacco only (6)</option>
                </select>
            </label>

            <label>Do you smoke:
                <select id="dropdown" name="smoke">
                    <option>(Select one)</option>
                    <option>Ex - Smoker (0)</option>
                    <option>Never smoked (1)</option>
                    <option>Not known (2)</option>
                    <option>Occasional smoker (3)</option>
                    <option>Usual smoker (4)</option>
                </select>
            </label>

            <label>Do you consume alcohol:
                <select id="dropdown" name="alcohol">
                    <option>(Select one)</option>
                    <option>Ex - drinker (0)</option>
                    <option>Never drank (1)</option>
                    <option>Occasional drinker (0)</option>
                    <option>Usual drinker (1)</option>
                </select>
            </label>

            <label>Select your treatment source:
                <select id="dropdown" name="treatment_source">
                    <option>(Select one)</option>
                    <option>At Home (0)</option>
                    <option>Government AYUSH Hospital/Clinic (1)</option>
                    <option>Government CHC (2)</option>
                    <option>Government Dispensary/Clinic (3)</option>
                    <option>Government Hospital (4)</option>
                    <option>Government PHC (5)</option>
                    <option>Government Sub Center (6)</option>
                    <option>Government UHC/UHP/UFWC (7)</option>
                    <option>NGO or Trust Hosp/Clinic (8)</option>
                    <option>No Medical attention (9)</option>
                    <option>Others (10)</option>
                    <option>Private AYUSH Hospital/Clinic (11)</option>
                    <option>Private Dispensary/Clinic (12)</option>
                    <option>Private Hospital (13)</option>
                </select>
            </label>

            <label>Select your marital status:
                <select id="dropdown" name="marital_status">
                    <option>(Select one)</option>
                    <option>Divorced (0)</option>
                    <option>Married and Gauna performed (1)</option>
                    <option>Never married (2)</option>
                    <option>Remarried (3)</option>
                    <option>Separated (4)</option>
                    <option>Widow/Widower (4)</option>
                </select>
            </label>

            <label>Select your injury treatment type:
                <select id="dropdown" name="injury_treatment_type">
                    <option>(Select one)</option>
                    <option>No Injury (0)</option>
                    <option>Treated as in-patient - with stay 1-2 weeks (1)</option>
                    <option>Treated as in-patient - with stay < 1 week (2)</option>
                    <option>Treated as in-patient - with stay > 2 weeks (3)</option>
                    <option>Treated as out-patient (4)</option>
                    <option>Treated at home (5)</option>
                    <option>Treated by Traditional Healers (6)</option>
                    <option>Treated in intensive care unit for any time (7)</option>
                </select>
            </label>

            <label>Select your illness type:
                <select id="dropdown" name="illness_type">
                    <option>(Select one)</option>
                    <option>Acute respiratory infection (0)</option>
                    <option>Diarrhoea (1)</option>
                    <option>Dysentery (2)</option>
                    <option>Fever of short duration with rashes (3)</option>
                    <option>Fever with chill/rigors (Malaria etc) (4)</option>
                    <option>Jaundice with fever (5)</option>
                    <option>No Illness (6)</option>
                    <option>Other types of fever (7)</option>
                    <option>Others (8)</option>
                    <option>Reproductive Tract Infection (RTI) (9)</option>
                </select>
            </label>

            <label>Symptoms pertaining to your illness:
                <select id="dropdown" name="symptoms_pertaining_illness">
                    <option>(Select one)</option>
                    <option>Asymptomatic (0)</option>
                    <option>Diseases of cardiovascular system (1)</option>
                    <option>Diseases of gastrointestinal system (2)</option>
                    <option>Diseases of genito urinary system (3)</option>
                    <option>Diseases of musculo-skeletal system (4)</option>
                    <option>Diseases of respiratory system (5)</option>
                    <option>Diseases of the central nervous system (6)</option>
                    <option>Elephantiasis (7)</option>
                    <option>Eye Problem/diseases (8)</option>
                    <option>Goitre (9)</option>
                    <option>No Symptoms of chronic diseases (10)</option>
                    <option>Others (11)</option>
                    <option>Skin diseases (12)</option>
                </select>
            </label>

            <label>Have you sought medical care in the past year:
                <select id="dropdown" name="sought_medical_care">
                    <option>(Select one)</option>
                    <option>No (0)</option>
                    <option>Yes- Details of diagnosis/treatment available (1)</option>
                    <option>Yes-Details of diagnosis/treatment not available (2)</option>
                </select>
            </label>

            <label>Have you been diagnosed for a non-communicable disease:
                <select id="dropdown" name="diagnosed_for">
                    <option>(Select one)</option>
                    <option>Anaemia (0)</option>
                    <option>Asthma/chronic respiratory failure (1)</option>
                    <option>Cancer-Gastro-intestinal system (2)</option>
                    <option>Cancer-Respiratory system (3)</option>
                    <option>Chronic heart disease (4)</option>
                    <option>Chronic heart disease/failure (5)</option>
                    <option>Chronic liver failure (6)</option>
                    <option>Chronic skin diseases - psoriasis (7)</option>
                    <option>Diabetes (8)</option>
                    <option>Epilepsy (9)</option>
                    <option>Gall stone /cholecystitis (10)</option>
                    <option>Goitre/ Thyroid disorder (11)</option>
                    <option>Hypertension (12)</option>
                    <option>Myocardial infarction/heart attack (13)</option>
                    <option>Not diagnosed (14)</option>
                    <option>Others (Hernia, hydrocele , peptic ulcer etc) (15)</option>
                    <option>Others(Hernia,Hydrocele,Peptic Ulcer etc) (16)</option>
                    <option>Renal stone (17)</option>
                    <option>Rheumatoid arthritis / osteoarthritis (18)</option>
                    <option>Stroke/Cerebrovascular accident (19)</option>
                    <option>Tuberculosis (20)</option>
                    <option>Tumour(any type) (21)</option>
                </select>
            </label>

            <label>Select your regular treatment source:
                <select id="dropdown" name="regular_treatment_source">
                    <option>(Select one)</option>
                    <option>At Home (0)</option>
                    <option>Government- AYUSH Hospital/ Clinic (1)</option>
                    <option>Government- CHC (2)</option>
                    <option>Government- Hospital (3)</option>
                    <option>Government- Sub-centre (4)</option>
                    <option>Government-PHC (5)</option>
                    <option>NGO or Trust Hosp/ Clinic (6)</option>
                    <option>Others (7)</option>
                    <option>Private-AYUSH Hospital/ Clinic (8)</option>
                    <option>Private-Dispensary/clinic (9)</option>
                    <option>Private-Hospital (10)</option>
                </select>
            </label>
            <label>is covered by health scheme?
                <select id="dropdown" name="iscoveredbyhealthscheme">
                    <option>(Select one)</option>
                    <option>Don't Know (0)</option>
                    <option>No (1)</option>
                    <option>Yes (2)</option>
                </select>
            </label>
            
        </fieldset> 
        <input id="submit" type="submit" value="Submit" />

        </form>
    </main>
</div>
<footer><h3>Made with ❤️ by <a href="https://lenincodes.co/socials">Lenin</a></h3></footer>
  

{% endblock %}
